<div class = "container">
    <h1>Bike Update</h1>
        <%= form_for @bike do |form| %>
            <%= form.text_field :company, placeholder: "company"%>
            <%= form.text_field :model, placeholder: "model"%>
            <%= form.text_field :color, placeholder: "color"%>
            <%= form.text_field :price, placeholder: "price"%>
            <%= form.submit %>
    <% end %>
</div>